// Aplicamos box-sizing universal para controlar perfectamente márgenes y paddings
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem = 10px (hace que calcular tamaños en rem sea un regalo)
    scroll-behavior: smooth;
}

body {
    font-family: $font-main;
    font-size: 1.6rem; // Tamaño de texto base (16px)
    line-height: 1.6;
    background-color: $color-light;
    color: $color-dark;
}

// Reset básico para enlaces y listas
a {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}